//colors
$color_silver_chalice_approx: #aaa;
$color_fuscous_gray_approx: #555;
$white: #fff;
$color_storm_dust_approx: #666;
$silver: #c0c0c0;
$black: #000;
$blue: #00f;
$color_woodsmoke_approx: #101010;
$color_celeste_approx: #ccc;
$color_mine_shaft_approx: #333;
$red: #f00;
$color_champagne_approx: #fbe9ca;
$color_titan_white_approx: #eef;
$color_eunry_approx: #c39d9d;
$color_dodger_blue_approx: #2196f3;


$c1: #17252A;
$c2: #2B7A78;
$c3: #3AAfA9;
$c4: #DEF2F1;
$c5: #FEFFFF;

$ControlOverlay_height: 85px;

$unretrieved_color: $c1;
$retrieved_color:   $c5;

$control_overlay_bg_color: $c3;
$control_overlay_tx_color: $c5;
$hilite_control_color: $c2;
$base_control_bg_color: $c2;
$pending_color: $c4;
$checkmark_color: $c5;



//fonts
$font_0: "Arial";
$font_1: "Verdana";
$font_2: "‘Trebuchet MS’";
$font_3: "Helvetica";
$font_4: "sans-serif";

//urls
$url_0: url("images/bg3.jpg");
$url_1: url("css/ui-lightness/images/ui-bg_glass_65_ffffff_1x400.png");



// Cross-browser mixins:
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}


//@extend-elements
//original selectors
//html, body
%extend_1 {
  margin: 0;
  padding: 0;
  font-family: $font_0, $font_1;
}

//original selectors
%extend_2 {
  visibility: visible;
  opacity: 1;
  display: block;
}


img {
  border-style: none;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  image-rendering: -o-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: crisp-edges;
  user-select: none;
  font-size: 10pt;
  @extend %extend_1;
}
#event-id-info {
  margin-left: 30px;
  float: right;
  font-size: 1.5em;
}

div.pad {
  margin: 0;
  padding: 0;
  background-color: $c5;    
}
div.boxed {
  border: 1px solid $color_storm_dust_approx;
  margin-bottom: 5px;
}
div.event-info {
  font-size: 0.7em;
}
div.A-EventInfo {
  overflow: scroll;
}
div.spacer {
}
div.ui-dialog {
  font-size: 0.9em;
}
div.A-WireView {
  height: 400px;
}
div.A-WireViewGL {
  height: 400px;
}
div.A-RgbWireView {
  height: 400px;
}
div.A-WireHistogram {
  height: 100px;
}
div.A-ZoomControl {
  height: 100px;
}
div.A-TimeHistogram {
  height: 120px;
}
div.WireInfo-text {
  height: 55px;
  overflow: hidden;
}
div.important-links a {
  white-space: nowrap;
  margin: 2px;
  padding: 4px;
  border: 1px solid $color_silver_chalice_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  display: inline-block;
  color: $color_fuscous_gray_approx;
}

#BigWireView {
  image-rendering: auto;
}

span.ZoomControl-Info {
  background-color: $white;
}
span.keypress-hint {
  float: right;
  font-weight: bold;
  color: $black;
}
span.scan-input {
  white-space: nowrap;
}
span.scan-input-label {
  width: 30em;
}

#header {
  width: 650px;
  margin: auto;
  margin-top: 20px;
}
#content {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: $ControlOverlay_height + 10px;
}

#content-main {
  width: auto;
  margin-right: 240px;
}
#content-left {
  float: left;
  width: 48%;
}
#content-middle {
  width: 48%;
  margin-left: 50%;
}
#content-wide {
  width: auto;
}
#footer {
  clear: both;
  width: auto;
  max-width: 800px;
  margin: auto;
}
#content-top {
  width: 1200px;
  margin: auto;
}
#content-right {
  float: right;
  width: 300px;
  margin: 0;
}
.mag-sliders {
  display: inline-block;
  width: 160px;
}
#blob-opacity {
  display: inline-block;
  width: 160px;
}
#hitmaps {
}


//
//
//#input-fe {
//  span {
//    display: block;
//    overflow: hidden;
//    padding-right: 5px;
//    padding-left: 10px;
//  }
//  label.tbfill {
//    float: left;
//  }
//  input.tbfill {
//    width: 100%;
//  }
//}

table {
  border-collapse: collapse;
}

table.eventinfo {
    border-collapse: separate;
    border-spacing: 5px;
    td {
      border-left-width: 2px;
      border-left-style: solid;
      margin-top: 2px;
      margin-bottom: 2px;
      &.key {
        border-left-width: 0;
        border-left-style: none;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
}
table.mc-info {
    font-size: 0.8em;
}
table.mc-fs {
    font-size: 0.8em;
    width: 100%;
    td {
      vertical-align: top;
    }
}
table.event-info {
    vertical-align: top;
    display: inline-block;
    max-width: 250px;
}
table.slice-info td {
    vertical-align: top;
}

#column-bl {
  background: $silver;
  width: 400px;
}
#triD-view {
  height: 380px;
}
#column-br {
  float: right;
  width: 400px;
}
#inFileUpload {
  width: 200px;
  margin: auto;
  font-size: 1.2em;
}
#output {
  overflow: auto;
  height: 500px;
}
.ui-dialog {
  opacity: 1.0;
}
.ui-tabs {
  font-size: 80% !important;
}
.ui-tabs-panel {
  padding: 0.1em !important;
}
#minos-info-table {
  width: 100%;
  border: 1px solid $black;
  background: $white;
  text-align: center;
}
td {
  &.event-info-caption {
    vertical-align: top;
    width: 100px;
  }
  &.gate-info-caption {
  }
  &.slice-info-caption {
  }
}
.scan-input {
  font-size: 0.8em;
}
.scanner-info {
  font-size: 0.7em;
}
.scanner-info-cur-slice {
  color: $blue;
}
.scanner-info-diff-slice {
  color: $color_woodsmoke_approx;
}
.glowbutton {
  cursor: pointer;
  text-align: center;
  border: 1px solid $color_celeste_approx;
  width: 75%;
  background: $url_0 repeat 0 0;
}
#ctl-color-scale {
  font-size: 0.7em;
}


div.portlet {
  margin: 3px;
  overflow: hidden;
  border: 1px solid $c1;
  @include border-radius(4px);

  div.portlet-header {
    margin: 0.3em;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0.2em;
    font-size: 0.9em;
    cursor: pointer;
    background-color: $c3;
    color: $c5;
    @include border-radius(5px);
    
    .ui-icon {
      float: right;
    }
  }
  div.portlet-content {
    background-color:$c5;
    padding: 0.4em;
    overflow: hidden;
    font-size: 0.8em;
    height: 100%;
  }
}
.ui-sortable-placeholder {
  border: 1px dotted $black;
  visibility: visible !important;
  height: 100px !important;
  * {
    visibility: hidden;
  }
}
.portlet-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.dialog {
  font-size: 0.7em;
}
.vertical-text {
  color: $color_mine_shaft_approx;
  zIndex: -1;
  background-color: $white;
  border: 0 solid $red;
  writing-mode: tb-rl;
  //vendor-prefix found
  //-webkit-transform: rotate(270deg)
  //vendor-prefix found
  //-moz-transform: rotate(270deg)
  //vendor-prefix found
  //-o-transform: rotate(270deg)
  white-space: nowrap;
  display: block;
  bottom: 0;
  width: 40px;
  height: 40px;
  font-family: $font_2, $font_3, $font_4;
  font-variant: small-caps;
  font-size: 14px;
  font-weight: normal;
  vertical-align: bottom;
  text-align: right;
}

#status{
  color: $c1;
  background-color: inherit;
}
.status-transition {
  background-color: $white;
}
.status-ok {
  background-color: inherit;
}
.status-error {
  background-color: $red;
}
.status-warning {
  background-color: Orange;
}
.stateMachineStat {
  display: block;
}
.keyhint {
  font-weight: bold;
  text-decoration: underline;
}
.onclickfn {
  text-decoration: underline;
  cursor: pointer;
}
.mc-jit-node-hover {
  background-color: $red;
}
.pf-jit-node-hover {
  background-color: $red;
}
.full-screen {
  width: 100% !important;
  height: 100% !important;
}
.shiftspinner {
  overflow: hidden;
  * {
    //vendor-prefix found
    //-moz-user-select: none
    //vendor-prefix found
    //-webkit-user-select: none
    cursor: pointer;
  }
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  li {
    float: left;
    display: inline;
    overflow: hidden;
  }
}


#ControlOverlay {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: $control_overlay_bg_color;
  color: $control_overlay_tx_color;
  width: 1000px;
  height: $ControlOverlay_height;
  div.status-line {
    display:flex;
    justify-content: space-between;
  }
  
  div.event-info-line {
    display:flex;
    justify-content: space-between;
  }
  .event-basefilename{
    font-size: 9px;
    width: 800px;
    margin-right: 10px;
    overflow: hidden;
  }
  .data-product-bar {
    height: 1em;
    
    label {
      &:hover {
        background-color: $hilite_control_color;
        cursor: pointer;
      }
    }
   
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      li {
        
        display: block;
        float: left;
        position: relative;
        text-decoration: none;
        //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
        transition-duration: 0.5s;
        background-color: $base_control_bg_color;
        border-radius: 3px;
        
        &:hover {
          background: $red;
          cursor: pointer;
        }
        
        label {
          display: block;
          position: relative;
          clear: both;
          padding-left: 12px;
          height: 20px;
          line-height: 20px;
        }
        
        
        fieldset {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: all 0.5s ease;
          left: 0;
          background-color: $control_overlay_bg_color;
          
          display: none;
          &:hover {
            @extend %extend_2;
          }
          div {
            display: block;
            position: relative;
            clear: both;
            height: 20px;
            line-height: 20px;
          }
          div.menu-info {
            border-top: 1px solid $c5;
            height: auto;
            width: 200px;
          }
        }
        &:hover > fieldset {
          @extend %extend_2;
        }
      }
    }
  }
  .product-type {
    min-width: 25px;
    margin-left: 3px;
  }
  
  // This stuff is used to remove the native checkmark from checkbox/radio buttons. the 
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
    &.unretrieved ~ label {
        color: $unretrieved_color; //$color_storm_dust_approx;        
    }
    &.retrieved  ~ label {
        color: $retrieved_color; //$color_storm_dust_approx;        
    }
    
    &.pending + .checkmark {
      background-color: transparent;
      border-top: 2px solid $unretrieved_color;
      border-right: 2px solid transparent;
      animation: spinner .6s linear infinite;
      
    }
    &:checked + .checkmark {
      background-color: $checkmark_color;
      
    }
    &.pending:checked + .checkmark {
        background-color: transparent;
        border-top: 2px solid $pending_color;
        border-right: 2px solid transparent;
        animation: spinner .6s linear infinite;
    }
  }
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
  .checkmark {
    position: absolute;
    top: 7px;
    left: 4px;
    height: 6px;
    width: 6px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
  }
  fieldset {
    border: none;
  }
}
@keyframes pulse {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1);
  }
  50% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1.3);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}
select.align-right {
  direction: rtl;
}


#input-fe, #input-raw{
  a {
    &:visited{
      color: $c5;
    }
    color: $c5;
  }
  span {
    display: block;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 10px;
  }
  label.tbfill {
    float: left;
  }
  input.tbfill {
    width: 100%;
    height: 3em;
  }  
  textarea.tbfill {
    width: 100%;
    height: 4em;
  } 
}

#mag-sliders label {
}
.pad canvas {
  cursor: crosshair;
  margin: 0;
  //vendor-prefix found
  //-webkit-touch-callout: none
  //vendor-prefix found
  //-webkit-user-select: none
  //vendor-prefix found
  //-khtml-user-select: none
  //vendor-prefix found
  //-moz-user-select: none
  //vendor-prefix found
  //-ms-user-select: none
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
}
.ui-button .ui-button-text {
  padding: 4px 4px 4px 4px !important;
}
#event-info div {
  &.collapsible {
    vertical-align: top;
    display: inline-block;
    max-width: 200px;
  }
  &.subtable {
    vertical-align: top;
    display: inline-block;
    max-width: 250px;
  }
}
th.scanner-info {
  text-align: right;
}
.ui-slider .ui-slider-handle {
  width: 2.2em;
  text-decoration: none;
  text-align: center;
}
.collapsible-title .ui-icon {
  float: left;
}
.help-text.dialog {
  font-size: 1.1em;
}
tr.rowstripe {
  background-color: $color_champagne_approx;
}
.cursor-nwse-resize .cursor-nwse-resize:active {
  cursor: nwse-resize;
}
.cursor-nesw-resize .cursor-nesw-resize:active {
  cursor: nesw-resize;
}
.cursor-ew-resize .cursor-ew-resize:active {
  cursor: ew-resize;
}
.cursor-move .cursor-move:active {
  cursor: move;
}
:-webkit-full-screen .portlet {
  width: 100% !important;
  height: 100% !important;
}

// Modals
div.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1998; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  .modal-content {
    background-color: $c3;
    color: $c5;
    margin: auto;
    padding: 20px;
    border: 1px solid $c1;
    width: 80%; 
  }
  .modal-close {
    color: $c5;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
    &:hover, &:focus{
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
  
  
  
}

.clickable:hover {
  cursor:pointer;
};

.hidden {
  display:none;
}

// Colors
#DebugColor {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  
}
.c1 { background-color: $c1;}
.c2 { background-color: $c2;}
.c3 { background-color: $c3;}
.c4 { background-color: $c4;}
.c5 { background-color: $c5;}
.tc1 { color: $c1; }
.tc2 { color: $c2; }
.tc3 { color: $c3; }
.tc4 { color: $c4; }
.tc5 { color: $c5; }
