Argo.dmg
live_event_cache
.DS_Store
setup.sh
datacache
logs
*.root
*.ubdaq
node_modules
nodemon.json
environment.json
pm2.json
pm2_live.json
pm2.ecosystem.json
argo-environment.conf
argonode/*.log
config.js
