libargo-backend.so
argo-raw-backend
argo-backend-new
argo-backend
argo-run-one
notify-live.cgi
argo-*-backend
myroot
root
larlite
boost
testx
tmp
*.pid
Cint.*
setup.sh
makeenv
*.log
*.err
*.pcm
*.dylib
*.dSYM
*.ubdaq
