# Configuration file. KVP format (param=value;)

# Connection details to dispatcher server.
dispatcherHost=localhost;
dispatcherPort=2013;

# Connection to plexus
plexusInterface=postgresql;
plexusConnection= host=fnalpgsdev.fnal.gov port=5436 dbname=uboonedaq_dev user=uboonedaq_web password=argon!uBooNE;

plexusInterface_fallback=postgresql;
plexusConnection_fallback= host=localhost port=5432;




# options used for building event.
options=;

# Cache file location.
cacheDir=../live_event_cache;
cacheUrl=live_event_cache;

# Minimum time between calls for more data to dispatcher.
# Could be slower if the processor bogs down
period=20;

# Maximum number of events to keep in the cache before deleting.
maxFiles=30;

