# For use on ups systems, source this.
source /uboone/setup
source /grid/fermiapp/products/uboone/setup_uboone.sh
setup gcc v4_7_1
setup root v5_34_21b -q i1:debug
#setup boost v1_53_0 -q e2:debug
#setup postgres
#setup uboonedaq_datatypes v1_00_02 -q e2:debug
#setup uboonedaq v1_00_02 -q e2:debug
