doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Argo
    //(#)include virtual="basetag.inc"
    // My little icon in the link url 
    link(rel='icon', type='image/png', href='images/ArgoIcon')
    // Activate some overrides to basic configuration. 
    //#set var="PageStyle" value="standard" 
    script(type='text/javascript') 
      |gPageName="#{pagename}";
    // Main CSS sheet for basic layout, custom mods. 
    link(rel='stylesheet', href='argo.css', type='text/css', media='all')
    link(rel='stylesheet', href='selected-object-info.css', type='text/css', media='all')
    link(rel='stylesheet', href='local.css', type='text/css', media='all')
    // Javascript libraries and code. 
    include inc/libraries 
    //(#)include virtual="libraries.cgi" 
    include shaders/shaders.inc
    // (#)include virtual="shaders/shaders_padgl.inc" 
  body
    #everything
      #content
        #content-top
          .important-links(style='text-align:center;')
            a(href='samspider/samspider.cgi') Browse SAM datasets
            a(href='server/file_browser.cgi') /uboone/ File Browser
            a(href='http://argo-microboone.fnal.gov/server/file_browser.cgi?path=/pnfs/uboone/data/uboone/raw/online/assembler/v6_00_00') Raw data files
            br
            a(href='http://argo-microboone.fnal.gov/live') Almost-live Data (from anywhere)
            a(href='http://ubdaq-prod-near2.fnal.gov/Argo/live') Live data (FNAL only)
            br
          div(style='float:left;')
            div(style='font-family:Arial,Verdana; font-size: 16pt; text-align:center;') Argo 2.0
            img(src='images/argo_logo_2.0.png', alt='Argo - the Microboone Web Event Display', style='height:200px;')
            br
          div(style='display: block; overflow:hidden; text-align:center;')
            a(href='help') Help and Hints
            a.align-left#Print(href='#') Print
            span.align-right
              a.linktothis Link to this event
            br
            span.align-right
              a.linkzoom Link to this event with current zoom
            br
            span.align-right#email-this-event Email this event
            br
            span.align-right#download-this-event Download this event
          div
            span(style='width: 5%;') Status:
            span#status(style='display:inline-block; width: 50%;') Script loading...
          #event-id-info(style='float:right')
            | Event:
            span.event-run
            | |
            span.event-subrun
            | |
            span.event-event
            br
            span.val.event-date unknown
            span.val.event-time unknown
            | (
            span.val.event-age unknown
            | )
          include inc/DataSource 
        // content-top 
        div(style='clear:both;')
        #content-right.dock
          include inc/ZoomControl 
          include inc/FalseColorControl 
          include inc/WireInfo 
          include inc/HitHistogram 
          include inc/SaveSelection 
          include inc/Configuration 
          include inc/EventInfo 
          include inc/dEdXTool 
          include inc/MCInfo 
          include inc/HoverInfo 
        // content-right 
        #content-main
          #content-wide.dock
            //(#)include virtual="html/WireViewGL.inc" 
            .portlet#rgbwireview-port
              .portlet-header RGB View
              .portlet-content(style='background-color:white; display:none;')
                .pad.A-RgbWireView(style='width:100%; height:330px')
            include inc/WireView 
            // include virtual="html/WireViewBig.inc" 
            //include virtual="html/TimeHistogram.inc" 
          // content-wide 
          #content-left.dock
            include inc/OpHits 
            include inc/MRI 
            include inc/MCDigraph 
            include inc/PFDigraph 
          // content-left 
          #content-middle.dock
            include inc/OpFlashes 
            include inc/TridView 
            //(#)include virtual="html/WireViewBig.inc" 
            //include virtual="html/ArgoDreamyScan.inc" 
          // content-middle 
        // content-main 
      // content 
      // <div style="clear: both;"></div> 
      #footer
        include inc/Debugging 
        include inc/credits 
      // footer 
      // hidden stuff. 
      include inc/MOTD 
      include inc/Keyboard 
      #hitsum
        form
          .hitsumtext(style='user-select:text; -ms-user-select:text; -moz-user-select: text;-webkit-user-select: text;')
      #warning-dialog(title='Warning')
        p#warning-dialog-message
      include inc/SelectionInfoOverlay 
      |  
      img#watermark_logo(style='display:none;', src='images/uboone_logo_1.png')
    // Everything 
