+portlet('wireimg-port','Zoomed Wire Views')
    div(style='width: 33%;float: left;')
      div(style='text-align:center; color: red') "U" View / View 0 / Plane 0
      .pad.A-WireView(style='width:100%; height:300px', data-options='{"plane": 0}')
    div(style='width: 33%;float: right;')
      div(style='text-align:center;color: blue') "Y" View / View 2 /Plane 2
      .pad.A-WireView(style='width:100%; height:300px', data-options='{"plane": 2}')
    div(style='width: 33%; margin-left: 33.35%')
      div(style='text-align:center; color: green') "V" View / View 1 / Plane 1
      .pad.A-WireView(style='width:100%; height:300px', data-options='{"plane": 1}')
    div(style='clear: both;')
    div(style='width: 33%;float: left;')
      .pad.A-WireHistogram(style='width:100%; height:100px', data-options='{"plane": 0}')
    div(style='width: 33%;float: right;')
      .pad.A-WireHistogram(style='width:100%; height:100px', data-options='{"plane": 2}')
    div(style='width: 33%; margin-left: 33.35%')
      .pad.A-WireHistogram(style='width:100%; height:100px', data-options='{"plane": 1}')
    div
      input.ctl-lock-aspect-ratio.saveable(type='checkbox', name='ctl-lock-aspect-ratio')
      label(style='color: black;', for='ctl-lock-aspect-ratio') Lock TDC/Wire aspect ratio
