#everything {
  width: 100%;
}

#help-sidebar {
  position:fixed;
  width: 200px;
  top: 5px;
  z-index: 100;
  
  font-size: 14px;
}

#help-main {
  margin-left: 220px;
}

span.code {
  font-family: Courier, monospace;
}

.portlet-header {
  clear: both;
}


.portlet-content {
  font-family:"Times New Roman",Georgia,Serif;
  font-size: 15px;
}

img {
  border: 5px solid white;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}

table.keys td,th{
  text-align: left;
}

