include inc/mixins

doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Argo
    link(rel='icon', type='image/png', href='/images/Argo3icon.png')
    block headerscript
      script(type='text/javascript') 
          |gPageName="#{pagename}";
          |gDetector="uboone";
    link(rel='stylesheet', href='/css/argo.scss', type='text/css', media='all')
    link(rel='stylesheet', href='/css/selected-object-info.css', type='text/css', media='all')
    include inc/libraries 
    include ../static/shaders/shaders.inc
  body
    #everything
      include inc/ControlOverlay
      #content
        block content
          #content-top
          #content-right.dock
            include inc/ZoomControl 
            include inc/FalseColorControl 
            include inc/WireInfo 
            include inc/HitHistogram
            include inc/SaveSelection 
            include inc/Configuration 
            include inc/EventInfo 
            include inc/dEdXTool 
            include inc/MCInfo 
            include inc/HoverInfo 
          // content-right 
          #content-main
            #content-wide.dock
              //- include inc/reco.pug
              include inc/WireViewGL            
              +portlet("rgbwireview-port","RGB View")(style="background-color:white; display:none;")
                //- .pad.A-RgbWireView(style='width:100%; height:330px')
              //- include inc/WireView 
              // include virtual="html/WireViewBig.inc" 
              //include virtual="html/TimeHistogram.inc" 
            // content-wide 
            #content-left.dock
              include inc/OpHits 
              include inc/MRI 
              include inc/MCDigraph 
              include inc/PFDigraph 
            // content-left 
            #content-middle.dock
              include inc/OpFlashes 
              include inc/TridView 
              //(#)include virtual="html/WireViewBig.inc" 
              //include virtual="html/ArgoDreamyScan.inc" 
        #footer
          include inc/Debugging 
          include inc/credits 
        include inc/Keyboard 
        #hitsum
          form
            .hitsumtext(style='user-select:text; -ms-user-select:text; -moz-user-select: text;-webkit-user-select: text;')
        #warning-dialog(title='Warning')
          p#warning-dialog-message
        include inc/SelectionInfoOverlay 
        |  
        img#watermark_logo(style='display:none;', src='/images/uboone_logo_1.png')
        img#onepixel(style='display_none;', src='/images/1x1.png')
