extend argo

include inc/mixins

block headerscript
  script(type='text/javascript') 
      |gPageName="#{pagename}-live";
      |gDetector="uboone";
  css

block control-file-navigation
  div Backend Heartbeat:
          span.heartbeat-status server not contacted yet

          div(style="display:flex; width:100%; justify-content: space-between;align-items: center;")
            div(style="flex:0 0 auto; width:130px;") Server speed: (fast)
            div(style="flex:1 1 auto;")
              div#live-event-update-slider(style="max-width:100%")
                div.ui-slider-handle#live-event-update-slider-handle
            div(style="flex:0 0 auto; width:80px;text-align:right;") (slow)

  .A-LiveControl(style="display:flex;")
      input.ui-state-default.ui-corner-all.go_livedata(type='button', value='Get Live Data!', style='flex:0 0 auto;margin:10px;')
      div#live-visual-clock.piechart(style="flex: 0 0 auto;")
                div.pie.spinner
                div.pie.filler
                div.mask
      div.recentEvents(style="overflow-x:scroll;white-space: nowrap;display:inline-block;flex: 1 1 auto;")


block content
        #display-zone(style='display:flex; width:100%; align-items: stretch; margin-top:150px;')
          #content-right.dock
            //- #live-rightbar2(style='flex: 1 auto; pading: 20px; min-width: 100px;')
            +portlet('trigger-info-port',"Trigger/Laser Info")
              .A-EventInfo(style="height:150px")
                     table.eventinfo
                        tbody
                          tr
                            td.key Triggerbits
                            td.val.val.event-triggerword
                          tr
                            td.key Triggers
                            td.val.event-triggernames
                          tr
                            td.key SW Triggers
                            td.val.event-swtriggernames
                          tr
                            td.key Laser
                            td.event-laser-info 
            // portlet 
            include inc/FalseColorControl 
            include inc/WireInfo 
            include inc/HitHistogram 
            include inc/ZoomControl 
            include inc/Configuration
          #main-column(style='flex: 5 70%; min-width: 300px;')
            +portlet('wireviewgl-port-0',"U / Induction Plane 0",true)
              .pad.A-WireViewGL(style='width:100%; height:330px;', data-options='{"plane":0,"view":0}')
            +portlet('wireviewgl-port-1',"V / Induction Plane 1",true)
              .pad.A-WireViewGL(style='width:100%; height:330px;', data-options='{"plane":1,"view":1}')
            +portlet('wireviewgl-port-1',"X / Collection Plane 2",false)
              .pad.A-WireViewGL(style='width:100%; height:330px;', data-options='{"plane":2,"view":2}')

            include inc/OpHits 

        #footer
          include inc/Debugging 
          include inc/credits 
        // footer 
        // hidden stuff. 
