extend argo

include inc/mixins

block headerscript
        script(type='text/javascript') 
          |gPageName="#{pagename}";
          |gDetector="uboone";
          |gAllowedDataTypes=['wireimg','hits','tracks'];

block content
        #content-right.dock
          include inc/MasterClass
          include inc/ZoomControl 
          include inc/FalseColorControl 
          include inc/WireInfo 
          include inc/HitHistogram
          include inc/Configuration 
          div.hidden
            include inc/EventInfo
        // content-right 
        #content-main
          #content-wide-mc.dock
            +portlet('wireviewgl-port-2',"Collection Plane")
             .pad.A-WireViewGL(style='width:100%; height:330px', data-options='{"plane":2,"view":2}')
             div
               span.wireview-zoom-out.mybutton &#x1f50d;- Zoom out
               span.wireview-zoom-in.mybutton &#x1f50d;+ Zoom in

            include inc/TridView 
            +portlet('wireviewgl-port-0',"Induction Plane 0",true)
              .pad.A-WireViewGL(style='width:100%; height:330px;', data-options='{"plane":0,"view":0}')
            +portlet('wireviewgl-port-1',"Induction Plane 1",true)
             .pad.A-WireViewGL(style='width:100%; height:330px', data-options='{"plane":1,"view":1}')

