include inc/mixins

doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Argo
    link(rel='icon', type='image/png', href='/images/Argo3icon.png')
    block headerscript
      script(type='text/javascript') 
          |gPageName="#{pagename}";
          |gDetector="uboone";
    link(rel='stylesheet', href='/css/argo.scss', type='text/css', media='all')
    link(rel='stylesheet', href='/css/selected-object-info.css', type='text/css', media='all')
    include ./libraries 
    include ../static/shaders/shaders.inc
    script(type='text/javascript') 
        | $(function(){
        |   $('#blah').slider();
        | });
  body
    h1 Hi there!
    input(type="range",min="1",max="200")
    div#blah

