html
  head
  body
    h2 Server-sent events blocked?
    p If you're seeing this page, it's likely that your computer is blocking server-sent events (SSE). I've seen this once on my mac: Sophos was blocking the HTTP stream in order to scan for threats.
    p To allow the argo live-update to work, go to Sophos preferences, and disable Web Protection / General / Block malicious downloads....
    p Similar things will probably work on Windoze.
