.portlet#associations-portlet
  // <link rel="stylesheet" href="digraph.css" type="text/css" media="all"/> 
  .portlet-header
    span.title Associations
  .portlet-content
    .A-Associations(style='height: 300px; overflow:scroll;')
