// This library lets me use text functions for non-html5-compliant browsers, using the closest-thing-to-native you can get. 
// General-purpose javascript library to help cross-platform compatibility and other issues. see http://jquery.com 
link(href='css/custom-1/jquery-ui.min.css', rel='stylesheet')
// <script src="js/jquery-1.9.0.js"></script> 
// <script src="js/jquery-ui-1.10.0.custom.js"></script> 
script(src='js/jquery-2.1.0.min.js')
script(src='js/jquery-ui.min.js')
// IE detection 
script(type='text/javascript', src='js/modernizr.js')
script(type='text/javascript', src='libs/check_browser.js')
script(type='text/javascript', src='js/jquery.mousewheel.min.js')
script(type='text/javascript', src='js/ajax-upload.3.5.js')
script(type='text/javascript', src='js/jquery.cookie.js')
script(type='text/javascript', src='js/jquery.blockUI.js')
script(type='text/javascript', src='js/jquery.ba-resize.min.js')
script(type='text/javascript', src='js/jquery.hotkeys.js')
script(type='text/javascript', src='js/sylvester.js')
script(type='text/javascript', src='js/canvas.text.js')
script(type='text/javascript', src='js/jquery.ba-hashchange.js')
script(type='text/javascript', src='js/jquery.ba-bbq.min.js')
script(type='text/javascript', src='js/jit.js')
script(type='text/javascript', src='js/circle-progress.js')
script(type='text/javascript', src='js/html2canvas.js')
script(type='text/javascript', src='js/spectrum.js')
// colorpicker 
link(rel='stylesheet', href='css/spectrum.css')
// for creating animated gifs. 
script(type='text/javascript', src='js/LZWEncoder.js')
script(type='text/javascript', src='js/NeuQuant.js')
script(type='text/javascript', src='js/GIFEncoder.js')
script(type='text/javascript', src='js/b64.js')
script(type='text/javascript', src='js/webgl-debug.js')
script(type='text/javascript', src='js/clipboard.min.js')
script(type='text/javascript', src='core/ABoundObject.js')
script(type='text/javascript', src='core/Pad.js')
script(type='text/javascript', src='core/ButtressedPad.js')
script(type='text/javascript', src='core/ColorScale.js')
script(type='text/javascript', src='core/StateMachine.js')
script(type='text/javascript', src='core/Histogram.js')
script(type='text/javascript', src='core/HistCanvas.js')
script(type='text/javascript', src='core/GraphCanvas.js')
script(type='text/javascript', src='core/Pad3d.js')
script(type='text/javascript', src='core/Printing.js')
script(type='text/javascript', src='core/GeometryUtils.js')
script(type='text/javascript', src='core/DreamyScan.js')
script(type='text/javascript', src='core/TimeAgo.js')
script(type='text/javascript', src='core/TimeLogger.js')
// My classes for doing histograming and other displays
script(type='text/javascript', src='libs/TiledImageCanvas.js')
script(type='text/javascript', src='libs/Geometry.js')
script(type='text/javascript', src='libs/Configuration.js')
script(type='text/javascript', src='libs/DataSource.js')
script(type='text/javascript', src='libs/Keyboard.js')
script(type='text/javascript', src='libs/SelectionAndHover.js')
script(type='text/javascript', src='libs/EventInfo.js')
script(type='text/javascript', src='libs/HitHistogram.js')
script(type='text/javascript', src='libs/TimeHistogram.js')
script(type='text/javascript', src='libs/WireHistogram.js')
script(type='text/javascript', src='libs/WireView.js')
script(type='text/javascript', src='libs/RgbWireView.js')
script(type='text/javascript', src='libs/WireInfo.js')
script(type='text/javascript', src='libs/ZoomControl.js')
script(type='text/javascript', src='libs/MCInfo.js')
script(type='text/javascript', src='libs/MCDigraph.js')
script(type='text/javascript', src='libs/PFDigraph.js')
script(type='text/javascript', src='libs/TriDView.js')
script(type='text/javascript', src='libs/OpHitHistogram.js')
script(type='text/javascript', src='libs/OpHitMap.js')
script(type='text/javascript', src='libs/OpHit2dMap.js')
script(type='text/javascript', src='libs/OpFlashHistogram.js')
script(type='text/javascript', src='libs/OpFlashMap.js')
script(type='text/javascript', src='libs/OpFlash2dMap.js')
script(type='text/javascript', src='libs/MRI.js')
script(type='text/javascript', src='libs/dEdXTool.js')
script(type='text/javascript', src='libs/ArgoDreamyScan.js')
script(type='text/javascript', src='libs/SaveSelection.js')
script(type='text/javascript', src='libs/PseudoColor.js')
script(type='text/javascript', src='libs/FalseColorControl.js')
script(type='text/javascript', src='libs/GLEngine.js')
script(type='text/javascript', src='libs/LiveControl.js')
script(type='text/javascript', src='js/three.js')
script(type='text/javascript', src='libs/WireViewGL.js')
// <script type="text/javascript" src="libs/RecoArgo.js"></script>  
// My classes for talking to the back-end and other displays
script(type='text/javascript', src='libs/QueryServer.js')
script(type='text/javascript', src='libs/PreloadEvent.js')
script(type='text/javascript', src='libs/ArgoData.js')
// Main scripts. Start here. 
script(type='text/javascript', src='libs/argo.js')
