.portlet#mc-digraph-portlet
  // <link rel="stylesheet" href="digraph.css" type="text/css" media="all"/> 
  .portlet-header
    span.title MC Digraph
  .portlet-content
    #MCDigraph-1.A-MCDigraph.squeezable(style='height: 300px; background-color:white')
