.portlet#wireinfo-port
  .portlet-header Wire Info
  .portlet-content
    .A-WireInfo
      .WireInfo-text
      .WireInfo-graph(style='height:200px')
      | (Blue line is coherent noise.)
// portlet 
