.portlet#ArgoDreamyScan-portlet
  .portlet-header Scan
  .portlet-content
    .A-ArgoDreamyScan
      .dreamy-login-form(style='display:none')
        // this div usually hidden 
        p
          label User Name:
          br
          input.ui-state-default.dreamy-username-input(type='text', value='Anonymous Coward')
      div
        input.ui-state-default.ui-corner-all.dreamy-change-username-button(type='button', value='Change Login')
        |  Logged in as:
        span.dreamy-username Error!
      form.dreamy-scan-form
        // start form 
        span.scan-input Flags for Events:
        br
        input(type='checkbox', name='checkEcal', value='1')
        span ECAL event
        br
        input(type='checkbox', name='checkRock', value='1')
        span Rock-muon
        br
        input(type='checkbox', name='checkProblem', value='1')
        span Detector problem
        br
        input(type='checkbox', name='checkCant', value='1')
        span Unanalyzable
        br
        input(type='checkbox', name='checkNukeTarget', value='1')
        span Nuclear Target Hit
        br
        select(name='VertexHits')
          option 0
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 7
          option 8
          option 9
          option 10
        span Vertex Activity
        select(name='ShowerProngs')
          option 0
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 7
          option 8
          option 9
          option 10
        span Shower Prongs
        select(name='TrackProngs')
          option 0
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 7
          option 8
          option 9
          option 10
        span Track Prongs
        div
          span Prong 1:
          span
            input(type='radio', name='Prong1', value='0', checked='')
            | N/A
          |  
          span
            input(type='radio', name='Prong1', value='1')
            | Exit rear
          |  
          span
            input(type='radio', name='Prong1', value='2')
            | Exit side
          |  
          span
            input(type='radio', name='Prong1', value='3')
            | Scatter
          |  
          span
            input(type='radio', name='Prong1', value='4')
            | Shower
          |  
          span
            input(type='radio', name='Prong1', value='5')
            | Range-stop
          |  
        div
          span.scan-input Prong 2:
          span
            input(type='radio', name='Prong2', value='0', checked='')
            | N/A
          |  
          span
            input(type='radio', name='Prong2', value='Exit HCAL rear')
            | Exit rear
          |  
          span
            input(type='radio', name='Prong2', value='2')
            | Exit side
          |  
          span
            input(type='radio', name='Prong2', value='3')
            | Scatter
          |  
          span
            input(type='radio', name='Prong2', value='4')
            | Shower
          |  
          span
            input(type='radio', name='Prong2', value='5')
            | Range-stop
          |  
        div
          span.scan-input Prong 3:
          span
            input(type='radio', name='Prong3', value='0', checked='')
            | N/A
          |  
          span
            input(type='radio', name='Prong3', value='1')
            | Exit rear
          |  
          span
            input(type='radio', name='Prong3', value='2')
            | Exit side
          |  
          span
            input(type='radio', name='Prong3', value='3')
            | Scatter
          |  
          span
            input(type='radio', name='Prong3', value='4')
            | Shower
          |  
          span
            input(type='radio', name='Prong3', value='5')
            | Range-stop
          |  
        select(name='GammaConversions')
          option 0
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 7
          option 8
          option 9
          option 10
        span.scan-input.scan-input-label Gammas
        select(name='VeeVertices')
          option 0
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 7
          option 8
          option 9
          option 10
        span.scan-input.scan-input-label
          | K
          sup 0
          | /Λ decays
        select(name='neutrons')
          option 0
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 7
          option 8
          option 9
          option 10
        span.scan-input.scan-input-label Neutrons
        br
        span.scan-input.scan-input-label Notes:
        textarea(style='width: 70%', name='notes')
        // end form 
      span.dreamy-scan-form-submit-button Submit
      span.dreamy-scan-form-submit-and-advance-button Submit-And-Advance
      .dreamy-scan-results
      .dreamy-inbox
      .dreamy-event-list
      span.dreamy-add-interesting-event-button This Event is Cool
