.portlet#config-port
  .portlet-header Configuration:
  .portlet-content
    // <form id="controls" action=""> 
    div
      label HV:
      input#ctl-high-voltage(type='text', value='67.0', size='5')
      label kv
    div
      input#ctl-shift-hits.saveable(type='checkbox', name='ctl-shift-hits', checked='')
      label(for='ctl-shift-hits') Shift Hits
      label Ticks
      input#ctl-shift-hits-value(type='text', value='2400', size='5')
    div
      input#ctl-magnifying-glass.saveable(type='checkbox', name='ctl-magnifying-glass', checked='')
      label(for='ctl-magnifying-glass')
        b (g)
        | Magnifying glass
    .mag-sliders
      div
        label(for='ctl-magnifier-size') Mag. Size:
        input#ctl-magnifier-size.saveable(type='text', value='60', size='4')
      #ctl-magnifier-size-slider
      div
        label(for='ctl-magnifier-mag') Magnification:
        input#ctl-magnifier-mag.saveable(type='text', value='3', size='4')
      #ctl-magnifier-mag-slider
    div
      input#ctl-hitsum-circle.saveable(type='checkbox', name='ctl-hitsum-circle')
      label(for='ctl-hitsum-circle')
        b (=)
        | Sum hits around mouse
    div
      label(for='ctl-hitsum-circle-size') Sum Hit Size:
      input#ctl-hitsum-circle-size.saveable(type='text', value='2', size='5')
      |  cm
    .mag-sliders
      #ctl-hitsum-size-slider
    div
      input#ctl-histo-logscale.saveable.ctl-histo-logscale(type='checkbox', name='ctl-histo-logscale', checked='')
      label(for='ctl-histo-logscale')
        b (l)
        | og-scale Histograms
    div
      input#ctl-show-labels.saveable(type='checkbox', name='ctl-show-labels', checked='')
      label(for='ctl-show-labels') Draw Axis Labels
    div
      input#ctl-show-tick-labels.saveable(type='checkbox', name='ctl-show-tick-labels', checked='')
      label(for='ctl-show-tick-labels') Draw Tick Values
    div
      input#ctl-show-watermark.saveable(type='checkbox', name='ctl-show-watermark')
      label(for='ctl-show-watermark') Show Watermark Logo
    .per-event-controls
      //- div
      //-   input#ctl-show-wireimg.saveable.show-wireimg(type='checkbox', name='show-wireimg', checked='')
      //-   label(for='ctl-show-wireimg')
      //-     b (w)
      //-     | Show Wire data
      div
        b (Shift-W)
        span.align-right
          input#ctl-show-wireimg-raw.saveable.show-wireimg-raw(type='radio', value='raw', name='show-wireimg-type')
          label(for='ctl-show-wireimg-raw') Raw
          input#ctl-show-wireimg-cal.saveable.show-wireimg-cal(type='radio', value='cal', name='show-wireimg-type', checked='')
          label(for='ctl-show-wireimg-cal') Calibrated
        div(style='clear:both;')
      div
        b (shift-H)
        select#ctl-HitLists.saveable.align-right
        div(style='clear:both;')
      div
        b (shift-C)
        select#ctl-ClusterLists.saveable.align-right
        div(style='clear:both;')
      div
        b (shift-E)
        select#ctl-EndpointLists.saveable.align-right
        div(style='clear:both;')
      div
        select#ctl-SpacepointLists.saveable.align-right
        div(style='clear:both;')
      div
        b (shift-T)
        select#ctl-TrackLists.saveable.align-right
        div(style='clear:both;')
      div
        |    
        input#ctl-track-shift-window.saveable.track-shift-window(type='checkbox', name='track-shift-window', checked='')
        label(for='track-shift-window') Shift Tracks Ticks:
        input.saveable.track-shift-value#ctl-track-shift-value(type='text', value='2400', size='5')
      div
        b (shift-S)
        select#ctl-ShowerLists.saveable.align-right
        div(style='clear:both;')
      div
        select#ctl-PFParticleLists.saveable.align-right
        div(style='clear:both;')
      div
        label OpHits
      div
        b (shift-O)
        select#ctl-OpHitLists.saveable.align-right
        div(style='clear:both;')
      div
        label OpFlash
      div
        select#ctl-OpFlashLists.saveable.align-right
        div(style='clear:both;')
      div
        input#ctl-show-mc.saveable.show-mc(type='checkbox', name='show-mc', checked='')
        label(for='ctl-show-mc')
          b (m)
          | Show MC
      div
        |   
        input#ctl-show-mc-neutrals.saveable.show-mc-neutrals(type='checkbox', name='show-mc-neutrals')
        label(for='ctl-show-mc')
          b (M)
          | Show neutral particles
      div
        |   
        input#ctl-mc-move-tzero.saveable.ctl-mc-move-tzero(type='checkbox', name='ctl-mc-move-tzero')
        label(for='ctl-mc-move-tzero')
          b (z)
          | Fake t-zero
      // <div class="align-right"><div id="ctl-MCLists"></div><div style="clear:both;"></div></div> 
    // per-event-controls 
    br
    button#ctl-save-config Save
    button#ctl-load-config Load
    button#ctl-restore-defaults Restore Defaults
    // </form> 
// configuration portlet 
