#ControlOverlay
  .progress-status Page loading...
  .event-id-info
    | Event:
    span.event-run ?
    | |
    span.event-subrun ?
    | |
    span.event-event ?
    | | 
    span.event-date ?
    | | 
    span.event-triggernames -
    span.event-swtriggernames - 
  .file-and-entry
    span.event-basefilename loading...
    span.event-entry ?
    | &nbsp;of&nbsp;
    span.event-numEntriesInFile ?
  div.data-product-bar
    | &nbsp;
    ul
