table(style='display:inline; border:0;')
  tbody
    tr
      td
        img(src='/images/Otterbein.png', width='100', height='100', alt='logo')
      td
        | Argo Event Display, Built and Maintained by
        a(href='http://faculty.otterbein.edu/NTagg') Nathaniel Tagg
        | ,
        a(href='http://www.otterbein.edu') Otterbein College
        br
        | Send any comments, bug reports, or suggestions to Nathaniel at NTagg (at) otterbein.edu.
        br
        | This work is supported by the
        a(href='www.nsf.gov') National Science Foundation
        | .
        br
        p(style='font-size: 0.875em')
          | About the name
          a(href='/help/#argo') Argo
      td
        img(src='/images/ublogo.jpg', height='100', alt='ublogo')
