+portlet('credits-port','Credits',false)
  table(style='display:inline; border:0;')
    tbody
      tr
        td
          img(src='/images/Otterbein.png', width='100', height='100', alt='logo')
        td
          | Argo Event Display, Built and Maintained by &nbsp;
          span(style="display:inline-block;vertical-align:top;")
            a(href='http://faculty.otterbein.edu/NTagg') Nathaniel Tagg
            br
            a(href='http://www.otterbein.edu/physics') Physics Department
            span &nbsp; at
            br
            a(href='http://www.otterbein.edu') Otterbein University
            br
          br
          | Send any comments, bug reports, or suggestions to Nathaniel at ntagg (at) otterbein.edu.
          br
          | This work is supported by the &nbsp;
          a(href='www.nsf.gov') National Science Foundation
          | .
          br
          p(style='font-size: 0.875em')
            | Argo is the ship sailed by JSON and the Argon-auts
        td
          img(src='/images/ublogo.png', height='100', alt='ublogo')
