.portlet#source-port
  .portlet-header Data Source
  .portlet-content#data-source-tabs
    ul
      li
        a(href='#input-fe') LArSoft File OR Raw ubdaq File
      li
        a(href='#input-rawrun') Raw Run by Run Number
      // <li><a href="#input-larlight">LarLight File</a></li> 
      li
        a(href='#input-json') JSON Upload
    #input-fe
      a(style='font-size: large;', href='server/file_browser.cgi') File Browser
      form#fileform
        label.tbfill Filename:
        span
          input.ui-state-default.tbfill#inFilename(type='text', name='inFilename', value='standard_reco_uboone.root')
        span(style='display:none;')
          label Cut:
          input.inSelection.ui-state-default#inFeSelection(style='width:200px', type='text', name='inFeSelection', value='1')
        |    
        select#inEntryOrEvent
          option(value='Entry') Entry
          option(value='Event') Event
        input.ui-state-default#inFeEntry(type='text', size='5', name='inFeEntry', value='0')
        |  
        input.ui-state-default.ui-corner-all#go_fe(type='button', value='Go!')
        br
      button.next-event.ui-state-default.ui-corner-all.styled-button (N)ext Event
      button.prev-event.ui-state-default.ui-corner-all.styled-button (P)rev Event
    #input-rawrun
      form#fileform-rawrun
        label.tbfill Run:
        span
          input.ui-state-default.tbfill.inRun#inRawRun(type='text', name='inRawRun')
        label.tbfill Subrun:
        span
          input.ui-state-default.tbfill.inSubrun#inRawSubrun(type='text', name='inRawSubrun')
        label.tbfill Entry:
        input.inEntry.ui-state-default#inRunEntry(type='text', size='5', name='inRunEntry', value='0')
        |  
        input.ui-state-default.ui-corner-all#go_rawrun(type='button', value='Go!')
        br
      button.next-event.ui-state-default.ui-corner-all.styled-button (N)ext Event
      button.prev-event.ui-state-default.ui-corner-all.styled-button (P)rev Event
    #input-json
      p This works only with .json files created by larlight or downloaded from Argo.
      input#inLocalFile(type='file', name='inLocalFile')
      |  
      input.ui-state-default.ui-corner-all#go_localfile(type='button', value='Reload')
      br
  // portlet-content 
// portlet 
