+portlet('expert-port','Debugging Info')
    #debuglinks
    #debuginfo
    #stateMachineStats
    .collapsible-title(data-revealed='false') Console Time Stats
    .A-TimeLogger.collabsible
    .collapsible-title(data-revealed='false') Debugging log:
    .collabsible#debuglog
    .collapsible-title(data-revealed='false') Benchmarks for this session:
    .collabsible#debugbench
