+portlet('dedx-port','dE/dX Tool')
    .dEdXTool-control
      label
        input.dEdX-Path(type='checkbox', value='1')
        | Show dEdX Path
      br
      .dEdX-width-slider(style='width:100;')
      br
      label
        input.dEdX-width-text(type='text', value='10', size='2')
        | Path Width
    .A-dEdXTool(style='height:200px')
