+portlet('eventinfo-port','Event Info')
    .A-EventInfo
      table.eventinfo
        tbody
          tr
            td.key Run
            td.val.event-run ?
          tr
            td.key SubRun
            td.val.event-subrun ?
          tr
            td.key Event
            td.val.event-event ?
          tr
            td.key Data Type
            td.val.event-datatype MC
          tr
            td.key Date:
            td
              span.val.event-date
              br
              span.val.event-time
              br
              span.val.event-age
          tr
            td.key Entry
            td
              span.val.event-entry ?
              | /
              span.val.event-numEntriesInFile
          tr
            td.key Trigger
            td
              span.val.event-triggerword
              br
              span.val.event-triggernames
              br
              span.val.event-swtriggernames
          tr
            td.key Digits/Wires
            td.val.event-wireimg-names
          tr
            td.key Hits
            td.val.event-hits-names none
          tr
            td.key Clusters
            td.val.event-clusters-names none
          tr
            td.key SpacePoints
            td.val.event-spacepoints-names none
          tr
            td.key Tracks
            td.val.event-tracks-names none
          tr
            td.key Showers
            td.val.event-showers-names none
          tr
            td.key Optical Pulses
            td.val.event-oppulses-names none
          tr
            td.key Optical Hits
            td.val.event-ophits-names none
          tr
            td.key Optical Flashes
            td.val.event-opflashes-names none
          tr
            td.key Drift HV
            td.val.event-hv Unknown
          tr
            td.key DAQ Version
            td.val.event-daqversion Unknown
      .event-laser-info
// portlet 
