style(type='text/css').
  .psuedoColorRow{display:-webkit-flex; display:flex; }
  .psuedoColorRow .pslabel{ -webkit-flex-basis: 40px; flex-basis: 40px;}
  .psuedoColorRow .psslide{ display:inline-block; -webkit-flex-grow: 1; flex-grow: 1; }
  .psuedoColorRow .psval  { font-size: 0.7em; -webkit-flex-basis:25px;flex-basis:25px; -webkit-flex-grow:0; flex-grow:0; }
  .psuedoCutoffLow { width: 15px;}
  .psuedoCutoffHigh {width: 15px;}
  
+portlet('falsecolorcontrol-port','Wire False Color')
    .A-FalseColorControl
      //         <select class="false-color-type saveable" id="false-color-type">
           <option value="1"     selected="selected">Blue-Green</option> 
      // <option value="2"                        >Threshold</option> 
      // </select> 
      //         <button class="falseColorMinus1">-1</button>
         <button class="falseColorPlus1">+1</button> 
      .hist-element(style='height: 120px')
      input#falsecolor-scheme.saveable.auto-save-on-change(type='hidden', value='falsecolor-Rainbow')
      ul
        li
          a(href='#falsecolor-Rainbow') Rainbow
        li
          a(href='#falsecolor-Grayscale') Gray
        li
          a(href='#falsecolor-LOCS') LOCS
        li
          a(href='#falsecolor-Brightness') Bright
        li
          a(href='#falsecolor-Blackbody') BB
        li
          a(href='#falsecolor-RootRainbow') Root
        li
          a(href='#falsecolor-Interp2') Intp2
        // <li><a href="#falsecolor-Interp3">Intp3</a></li> 
        li
          a(href='#falsecolor-Interp4') Intp4
      #falsecolor-Rainbow.falsecolor-tab
        | Hue-rotation
        br
        .psuedoColorRow
          span.pslabel Shift
          .psslide.psuedoDialOffsetSlider
          input#falsecolor-rainbow-dialoffset.psval.psuedoDialOffset(type='number', value='0.754', width='3')
        .psuedoColorRow
          span.pslabel Warp
          .psslide.psuedoAdcScaleSlider
          input#falsecolor-rainbow-adcscale.psval.psuedoAdcScale(type='text', value='153.5', width='3')
        //- .psuedoColorRow
        //-   span.pslabel Scale
        //-   .psslide.psuedoDialScaleSlider
        //-   input#falsecolor-rainbow-dialscale.psval.psuedoDialScale(type='text', value='0.7', width='3')
        .psuedoColorRow
          span.pslabel Satr
          .psslide.psuedoSaturationSlider
          input#falsecolor-rainbow-saturation.psval.psuedoSaturation(type='text', value='0.8', width='3')
        .psuedoColorRow
          | Cutoff   
          input#falsecolor-rainbow-cutlow.psval.psuedoCutoffLow(type='text', value='0', width='3')
          |   to   
          input#falsecolor-rainbow-cuthigh.psval.psuedoCutoffHigh(type='text', value='0', width='3')
          |   ADC  
      #falsecolor-Grayscale.falsecolor-tab
        | Grayscale
        br
        .psuedoColorRow
          span.pslabel Shift
          .psslide.psuedoDialOffsetSlider
          input#falsecolor-grayscale-dialoffset.psval.saveable.psuedoDialOffset(type='number', value='0', width='3')
        .psuedoColorRow
          span.pslabel Warp
          .psslide.psuedoAdcScaleSlider
          input#falsecolor-grayscale-adcscale.psval.saveable.psuedoAdcScale(type='text', value='20', width='3')
        .psuedoColorRow
          span.pslabel Scale
          .psslide.psuedoDialScaleSlider
          input#falsecolor-grayscale-dialscale.psval.saveable.psuedoDialScale(type='text', value='0.5', width='3')
        //           <div class='psuedoColorRow' > <span class='pslabel'>Satr</span>
                          <div class='psslide psuedoSaturationSlider'></div>
                          <input id='falsecolor-grayscale-saturation' class='psval saveable psuedoSaturation'  type="text" value='0.9' width='3'/> </div> 
        .psuedoColorRow
          | Cutoff:   
          input#falsecolor-grayscale-cutlow.psval.saveable.psuedoCutoffLow(type='text', value='0', width='5')
          |   to   
          input#falsecolor-grayscale-cuthigh.psval.saveable.psuedoCutoffHigh(type='text', value='0', width='5')
          |   ADC  
      #falsecolor-LOCS.falsecolor-tab
        | Linearized Optimal Color Scale
        br
        .psuedoColorRow
          span.pslabel Shift
          .psslide.psuedoDialOffsetSlider
          input#falsecolor-grayscale-dialoffset.psval.saveable.psuedoDialOffset(type='number', value='0', width='3')
        .psuedoColorRow
          span.pslabel Warp
          .psslide.psuedoAdcScaleSlider
          input#falsecolor-grayscale-adcscale.psval.saveable.psuedoAdcScale(type='text', value='36.5', width='3')
        .psuedoColorRow
          span.pslabel Scale
          .psslide.psuedoDialScaleSlider
          input#falsecolor-grayscale-dialscale.psval.saveable.psuedoDialScale(type='text', value='-0.5', width='3')
        //           <div class='psuedoColorRow' > <span class='pslabel'>Satr</span>
                          <div class='psslide psuedoSaturationSlider'></div>
                          <input id='falsecolor-locs-saturation' class='psval saveable psuedoSaturation'  type="text" value='0.9' width='3'/> </div> 
        .psuedoColorRow
          | Cutoff:   
          input#falsecolor-locs-cutlow.psval.saveable.psuedoCutoffLow(type='text', value='0', width='5')
          |   to   
          input#falsecolor-locs-cuthigh.psval.saveable.psuedoCutoffHigh(type='text', value='0', width='5')
          |   ADC  
      #falsecolor-Brightness.falsecolor-tab
        | Simple Brightness on Color
        br
        .psuedoColorRow
          span.pslabel Shift
          .psslide.psuedoDialOffsetSlider
          input#falsecolor-brightness-dialoffset.psval.saveable.psuedoDialOffset(type='number', value='0', width='3')
        .psuedoColorRow
          span.pslabel Warp
          .psslide.psuedoAdcScaleSlider
          input#falsecolor-brightness-adcscale.psval.saveable.psuedoAdcScale(type='text', value='20', width='3')
        .psuedoColorRow
          span.pslabel Scale
          .psslide.psuedoDialScaleSlider
          input#falsecolor-brightness-dialscale.psval.saveable.psuedoDialScale(type='text', value='0.5', width='3')
        .psuedoColorRow
          span.pslabel Hue
          .psslide.psuedoSaturationSlider
          input#falsecolor-brightness-saturation.psval.saveable.psuedoSaturation(type='text', value='0.5', width='3')
        .psuedoColorRow
          | Cutoff:   
          input#falsecolor-locs-cutlow.psval.saveable.psuedoCutoffLow(type='text', value='0', width='5')
          |   to   
          input#falsecolor-locs-cuthigh.psval.saveable.psuedoCutoffHigh(type='text', value='0', width='5')
          |   ADC  
      #falsecolor-Blackbody.falsecolor-tab
        | Simulated blackbody spectrum 1000K to 40000K
        br
        .psuedoColorRow
          span.pslabel Shift
          .psslide.psuedoDialOffsetSlider
          input#falsecolor-blackbody-dialoffset.psval.saveable.psuedoDialOffset(type='number', value='0.25', width='3')
        .psuedoColorRow
          span.pslabel Warp
          .psslide.psuedoAdcScaleSlider
          input#falsecolor-blackbody-adcscale.psval.saveable.psuedoAdcScale(type='text', value='20', width='3')
        .psuedoColorRow
          span.pslabel Scale
          .psslide.psuedoDialScaleSlider
          input#falsecolor-blackbody-dialscale.psval.saveable.psuedoDialScale(type='text', value='0.4', width='3')
        //           <div class='psuedoColorRow' > <span class='pslabel'>Satr</span>
                          <div class='psslide psuedoSaturationSlider'></div>
                          <input id='falsecolor-locs-saturation' class='psval saveable psuedoSaturation'  type="text" value='0.9' width='3'/> </div> 
        .psuedoColorRow
          | Cutoff:   
          input#falsecolor-blackbody-cutlow.psval.saveable.psuedoCutoffLow(type='text', value='0', width='5')
          |   to   
          input#falsecolor-blackbody-cuthigh.psval.saveable.psuedoCutoffHigh(type='text', value='0', width='5')
          |   ADC  
      #falsecolor-RootRainbow.falsecolor-tab
        | ROOT Rainbow
        br
        .psuedoColorRow
          span.pslabel Shift
          .psslide.psuedoDialOffsetSlider
          input#falsecolor-rootrainbow-dialoffset.psval.saveable.psuedoDialOffset(type='number', value='0.25', width='3')
        .psuedoColorRow
          span.pslabel Warp
          .psslide.psuedoAdcScaleSlider
          input#falsecolor-rootrainbow-adcscale.psval.saveable.psuedoAdcScale(type='text', value='20', width='3')
        .psuedoColorRow
          span.pslabel Scale
          .psslide.psuedoDialScaleSlider
          input#falsecolor-rootrainbow-dialscale.psval.saveable.psuedoDialScale(type='text', value='0.4', width='3')
        //           <div class='psuedoColorRow' > <span class='pslabel'>Satr</span>
                          <div class='psslide psuedoSaturationSlider'></div>
                          <input id='falsecolor-locs-saturation' class='psval saveable psuedoSaturation'  type="text" value='0.9' width='3'/> </div> 
        .psuedoColorRow
          | Cutoff:   
          input#falsecolor-rootrainbow-cutlow.psval.saveable.psuedoCutoffLow(type='text', value='0', width='5')
          |   to   
          input#falsecolor-rootrainbow-cuthigh.psval.saveable.psuedoCutoffHigh(type='text', value='0', width='5')
          |   ADC  
      #falsecolor-Interp2.falsecolor-tab
        | Two-color control point interpolation in RGB space
        br
        .psuedoColorRow
          span.pslabel Color 0
          input#falsecolor-interp2-color0.saveable.psuedo-color.colorpicker(type='text', data-index='0', value='#FFFFFF')
        .psuedoColorRow
          span.pslabel Color 1
          input#falsecolor-interp2-color1.saveable.psuedo-color.colorpicker(type='text', data-index='1', value='#0000FF')
        .psuedoColorRow
          span.pslabel Shift
          .psslide.psuedoDialOffsetSlider
          input#falsecolor-interp2-dialoffset.psval.saveable.psuedoDialOffset(type='number', value='-0.5', width='3')
        .psuedoColorRow
          span.pslabel Warp
          .psslide.psuedoAdcScaleSlider
          input#falsecolor-interp2-adcscale.psval.saveable.psuedoAdcScale(type='text', value='20', width='3')
        .psuedoColorRow
          span.pslabel Scale
          .psslide.psuedoDialScaleSlider
          input#falsecolor-interp2-dialscale.psval.saveable.psuedoDialScale(type='text', value='0.25', width='3')
        .psuedoColorRow
          | Cutoff:   
          input#falsecolor-interp2-cutlow.psval.saveable.psuedoCutoffLow(type='text', value='0', width='5')
          |   to   
          input#falsecolor-interp2-cuthigh.psval.saveable.psuedoCutoffHigh(type='text', value='0', width='5')
          |   ADC  
      //        
            <div id="falsecolor-Interp3" class='falsecolor-tab'>
              3-color control point interpolation in RGB space<br/>
              <div class='psuedoColorRow' > <span class='pslabel'>Color 0</span>
                        <input  type="text" data-index='0' id='falsecolor-interp2-color0'  class='saveable psuedo-color colorpicker' value='#FFFFFF'/>
                      </div>
              <div class='psuedoColorRow' > <span class='pslabel'>Color 1</span>
                        <input  type="text" data-index='1' id='falsecolor-interp2-color1'  class='saveable psuedo-color colorpicker' value='#00FF00'/>
                      </div>
        
              <div class='psuedoColorRow' > <span class='pslabel'>Color 2</span>
                        <input  type="text" data-index='2' id='falsecolor-interp2-color2'  class='saveable psuedo-color colorpicker' value='#0000FF'/>
                      </div>
        
              <div class='psuedoColorRow' > <span class='pslabel'>Shift</span>
                        <div class='psslide psuedoDialOffsetSlider'></div>
                        <input id='falsecolor-interp2-dialoffset' class='psval saveable psuedoDialOffset' type="number" value='-0.5' width='3'/></div>
        
              <div class='psuedoColorRow' > <span class='pslabel'>Warp</span>
                        <div class='psslide psuedoAdcScaleSlider'></div>
                        <input id='falsecolor-interp2-adcscale' class='psval saveable psuedoAdcScale'  type="text"  value='20' width='3'/> </div>
        
              <div class='psuedoColorRow' > <span class='pslabel'>Scale</span>
                        <div class='psslide psuedoDialScaleSlider'></div>
                        <input id='falsecolor-interp2-dialscale' class='psval saveable psuedoDialScale'  type="text"  value='0.25' width='3'/> </div>
        
              <div class='psuedoColorRow'> Cutoff: &nbsp;
                <input id='falsecolor-interp2-cutlow' class='psval saveable psuedoCutoffLow'  type="text"  value='0' width='5'/>&nbsp; to &nbsp;
                <input id='falsecolor-interp2-cuthigh'class='psval saveable psuedoCutoffHigh'  type="text" value='0' width='5'/></span>&nbsp; ADC &nbsp;
              </div>
            </div> 
      #falsecolor-Interp4.falsecolor-tab
        | 4-color control point interpolation in RGB space
        br
        .psuedoColorRow
          span.pslabel Color 0
          input#falsecolor-interp2-color0.saveable.psuedo-color.colorpicker(type='text', data-index='0', value='#FFFFFF')
        .psuedoColorRow
          span.pslabel Color 1
          input#falsecolor-interp2-color1.saveable.psuedo-color.colorpicker(type='text', data-index='1', value='#00FF00')
        .psuedoColorRow
          span.pslabel Color 2
          input#falsecolor-interp2-color2.saveable.psuedo-color.colorpicker(type='text', data-index='2', value='#0000FF')
        .psuedoColorRow
          span.pslabel Color 3
          input#falsecolor-interp2-color3.saveable.psuedo-color.colorpicker(type='text', data-index='3', value='#0000FF')
        .psuedoColorRow
          span.pslabel Shift
          .psslide.psuedoDialOffsetSlider
          input#falsecolor-interp2-dialoffset.psval.saveable.psuedoDialOffset(type='number', value='-0.5', width='3')
        .psuedoColorRow
          span.pslabel Warp
          .psslide.psuedoAdcScaleSlider
          input#falsecolor-interp2-adcscale.psval.saveable.psuedoAdcScale(type='text', value='20', width='3')
        .psuedoColorRow
          span.pslabel Scale
          .psslide.psuedoDialScaleSlider
          input#falsecolor-interp2-dialscale.psval.saveable.psuedoDialScale(type='text', value='0.25', width='3')
        .psuedoColorRow
          | Cutoff:   
          input#falsecolor-interp2-cutlow.psval.saveable.psuedoCutoffLow(type='text', value='0', width='5')
          |   to   
          input#falsecolor-interp2-cuthigh.psval.saveable.psuedoCutoffHigh(type='text', value='0', width='5')
          |   ADC  
      //         <div class='psuedoColorRow' > <span class='pslabel'>CutRMS</span>
                        <div class='psslide psuedoPedWidthCutoffSlider'></div>
                        <input id='pedwidth-cutoff' class='psval saveable psuedoPedWidthCutoff'  type="text" value='3.0' width='2' style='width:20px'/> RMS</div> 
      .psuedoColorRow
        input#ctl-coherent-noise-filter.saveable.ctl-coherent-noise-filter(type='checkbox', name='ctl-coherent-noise-filter', checked='')
        label(for='ctl-coherent-noise-filter')
          b (f)
          | Coherent Noise Filter
      .psuedoColorRow
        | Bad Channels:
        label
          input.ctl-bad-wire-filter#ctl-bad-wire-filter0(type='radio', name='radio-bad-wire-filter', value='0', checked='')
          | Zero
        label
          input.ctl-bad-wire-filter#ctl-bad-wire-filter1(type='radio', name='radio-bad-wire-filter', value='1')
          | Show
        label
          input.ctl-bad-wire-filter#ctl-bad-wire-filter2(type='radio', name='radio-bad-wire-filter', value='2')
          | Black
      .psuedoColorRow
        input#ctl-gl-edge-finder.saveable.ctl-gl-edge-finder(type='checkbox', name='ctl-gl-edge-finder')
        label(for='ctl-gl-edge-finder')
          b (/)
          | WebGL edge finder
    // A-FalseColorControl 
    .wireimg-encoded-progressbar(style='position: relative; text-align:center;')
      .wireimg-encoded-progressbar-text(style='position: absolute; color:black; width:100%')
