// This library lets me use text functions for non-html5-compliant browsers, using the closest-thing-to-native you can get. 
// General-purpose javascript library to help cross-platform compatibility and other issues. see http://jquery.com 

link(href="/css/custom-1/jquery-ui.min.css", rel="stylesheet")
script(src="/js/third-party/jquery-2.1.0.min.js")
script(src="/js/third-party/jquery-ui.min.js")
// IE detection 
script(type="text/javascript", src="/js/third-party/modernizr.js")
script(type="text/javascript", src="/js/libs/check_browser.js")
script(type="text/javascript", src="/js/third-party/jquery.mousewheel.min.js")
script(type="text/javascript", src="/js/third-party/ajax-upload.3.5.js")
script(type="text/javascript", src="/js/third-party/jquery.cookie.js")
script(type="text/javascript", src="/js/third-party/jquery.blockUI.js")
script(type="text/javascript", src="/js/third-party/jquery.ba-resize.min.js")
script(type="text/javascript", src="/js/third-party/jquery.hotkeys.js")
script(type="text/javascript", src="/js/third-party/sylvester.js")
script(type="text/javascript", src="/js/third-party/canvas.text.js")
script(type="text/javascript", src="/js/third-party/jquery.ba-hashchange.js")
script(type="text/javascript", src="/js/third-party/jquery.ba-bbq.min.js")
script(type="text/javascript", src="/js/third-party/jit.js")
script(type="text/javascript", src="/js/third-party/circle-progress.js")
script(type="text/javascript", src="/js/third-party/html2canvas.js")
script(type="text/javascript", src="/js/third-party/spectrum.js")

// THREE.js is the API wrapping opengl
script(type="text/javascript", src="/js/third-party/three.js")

// colorpicker 
link(rel="stylesheet", href="/css/spectrum.css")
// for creating animated gifs. 
script(type="text/javascript", src="/js/third-party/LZWEncoder.js")
script(type="text/javascript", src="/js/third-party/NeuQuant.js")
script(type="text/javascript", src="/js/third-party/GIFEncoder.js")
script(type="text/javascript", src="/js/third-party/b64.js")
script(type="text/javascript", src="/js/third-party/webgl-debug.js")
script(type="text/javascript", src="/js/third-party/clipboard.min.js")
script(type="text/javascript", src="/js/core/ABoundObject.js")
script(type="text/javascript", src="/js/core/Pad.js")
script(type="text/javascript", src="/js/core/ButtressedPad.js")
script(type="text/javascript", src="/js/core/ColorScale.js")
script(type="text/javascript", src="/js/core/StateMachine.js")
script(type="text/javascript", src="/js/core/Histogram.js")
script(type="text/javascript", src="/js/core/HistCanvas.js")
script(type="text/javascript", src="/js/core/GraphCanvas.js")
script(type="text/javascript", src="/js/core/Pad3d.js")
script(type="text/javascript", src="/js/core/Printing.js")
script(type="text/javascript", src="/js/core/GeometryUtils.js")
script(type="text/javascript", src="/js/core/DreamyScan.js")
script(type="text/javascript", src="/js/core/TimeAgo.js")
script(type="text/javascript", src="/js/core/TimeLogger.js")
// My classes for doing histograming and other displays
//- script(type="text/javascript", src="/js/libs/TiledImageCanvas.js")
script(type="text/javascript", src="/js/libs/Geometry.js")
script(type="text/javascript", src="/js/libs/geodata_uboone.js")
script(type="text/javascript", src="/js/libs/geodata_protodune.js")
script(type="text/javascript", src="/js/libs/Geometry3.js")
script(type="text/javascript", src="/js/libs/Configuration.js")
script(type="text/javascript", src="/js/libs/DataSource.js")
script(type="text/javascript", src="/js/libs/Keyboard.js")
script(type="text/javascript", src="/js/libs/SelectionAndHover.js")
script(type="text/javascript", src="/js/libs/EventInfo.js")
script(type="text/javascript", src="/js/libs/HitHistogram.js")
script(type="text/javascript", src="/js/libs/TimeHistogram.js")
script(type="text/javascript", src="/js/libs/WireHistogram.js")
script(type="text/javascript", src="/js/libs/WireView.js")
script(type="text/javascript", src="/js/libs/WireSpatialView.js")
script(type="text/javascript", src="/js/libs/RgbWireView.js")
script(type="text/javascript", src="/js/libs/WireInfo.js")
script(type="text/javascript", src="/js/libs/ZoomRegion.js")
script(type="text/javascript", src="/js/libs/ZoomControl.js")
script(type="text/javascript", src="/js/libs/MCInfo.js")
script(type="text/javascript", src="/js/libs/MCDigraph.js")
script(type="text/javascript", src="/js/libs/PFDigraph.js")
script(type="text/javascript", src="/js/libs/TriDView.js")
script(type="text/javascript", src="/js/libs/OpHitHistogram.js")
script(type="text/javascript", src="/js/libs/OpHitMap.js")
script(type="text/javascript", src="/js/libs/OpHit2dMap.js")
script(type="text/javascript", src="/js/libs/OpFlashHistogram.js")
script(type="text/javascript", src="/js/libs/OpFlashMap.js")
script(type="text/javascript", src="/js/libs/OpFlash2dMap.js")
//- script(type="text/javascript", src="/js/libs/MRI.js") // remove until fixed.
script(type="text/javascript", src="/js/libs/dEdXTool.js")
script(type="text/javascript", src="/js/libs/ArgoDreamyScan.js")
script(type="text/javascript", src="/js/libs/SaveSelection.js")
script(type="text/javascript", src="/js/libs/PseudoColor.js")
script(type="text/javascript", src="/js/libs/FalseColorControl.js")
script(type="text/javascript", src="/js/libs/GLEngine.js")
script(type="text/javascript", src="/js/libs/LiveControl.js")

// Installed via browserify... if I want to go that way.
//- <script src="/js/my.js"></script>

// From three.js examples:
script(type="text/javascript", src="/js/third-party/LineSegmentsGeometry.js")
script(type="text/javascript", src="/js/third-party/LineGeometry.js")
script(type="text/javascript", src='/js/third-party/Wireframe.js')
script(type="text/javascript", src='/js/third-party/WireframeGeometry2.js')
script(type="text/javascript", src="/js/third-party/LineMaterial.js")
script(type="text/javascript", src="/js/third-party/LineSegments2.js")
script(type="text/javascript", src="/js/third-party/Line2.js")
script(type="text/javascript", src="https://unpkg.com/three.texttexture")

script(type="text/javascript", src="/js/third-party/OrbitControls.js")
script(type="text/javascript", src="/js/third-party/GLTFLoader.js")
script(type="text/javascript", src="/js/third-party/GDMLLoader.js") 
script(type="text/javascript", src='/js/libs/PerspectiveLineMaterial.js')


script(type="text/javascript", src="/js/third-party/json-pointer.js")
  
script(type="text/javascript", src="/js/libs/ThreePad.js")
script(type="text/javascript", src="/js/libs/WireViewGL.js")
script(type="text/javascript", src="/js/libs/ThreeTriD.js")
  
// <script type="text/javascript" src="/js/libs/RecoArgo.js"></script>  
// My classes for talking to the back-end and other displays
script(type="text/javascript", src="/js/libs/ControlOverlay.js")
script(type="text/javascript", src="/js/libs/QueryServer.js")
script(type="text/javascript", src="/js/libs/ArgoData.js")
// Main scripts. Start here. 
script(type="text/javascript", src="/js/libs/argo.js")
