// For the MasterClass stuff.
+portlet('masterclass-port','MasterClass')
  .portlet-content
    .A-MasterClass-data
      p cut and paste data goes here.
    .masterclass-controls
      p Controls go here.
  // slice-info 
