// For the MasterClass stuff.
+portlet('masterclass-port','MasterClass')
  .portlet-content
    .masterclass-controls
      div
        //- label(for='ctl-hitsum-circle-size') Sum Hit Size:
        //- input#ctl-hitsum-circle-size.saveable(type='text', value='4', size='5')
        //- |  cm
           .mag-sliders
      //-   #ctl-hitsum-size-slider

      //-       div
      //- input#ctl-hitsum-circle.saveable(type='checkbox', name='ctl-hitsum-circle')
      //- label(for='ctl-hitsum-circle')
      //-   b (=)
      //-   | Sum hits around mouse

 
      div
         button.mc_button.do_hitsum Sum Hits
         button.mc_button.do_mc_selecthit Select Single Hit
         button.mc_button.do_hitsum_clear Clear
         span(style="width:10px;") &nbsp;
      br
    .A-MasterClass-data(style='height:50px;')
    .masterclass-controls
      button.mc_button.ctl-restore-defaults Restore Defaults and Reload



