+portlet('opflash-port','Optical Flashes')(style='display:flex; flex-direction: column;height:400px;')
    .nonsqueezeable(style='min-height: 0; min-width:0; flex:1 1 0;  width:100%; display: flex; flex-direction: row; flex-wrap:nowrap;')
      // Flex 1 1 0 means equal width 
      .A-OpFlashHistogram(style='flex: 1 1 0; min-width:0;')
      .A-OpFlashMap(style='flex: 1 1 0; min-width:0;')
    .nonsqueezeable(style='min-height: 0; min-width:0; flex:2 2 0;  width:100%; display:flex; flex-direction: row; flex-wrap:nowrap;')
      // Flex 4 4 0 and 1 1 0 means the first is four times wider than the second. 
      // min-width:0 means that internal content is ignored, so the canvas inside can be squished or whatever. 
      .A-OpFlash2dMap(style='flex: 4 4 0; min-width:0;')
      .A-OpFlash2dMapProjection(style='flex: 1 1 0; min-width:0;')
