script(type='text/javascript', src='libs/reco.js')
.portlet#reco-port
  .portlet-header Reco
  .portlet-content
    .A-reco
      div
        input#ctl-show-reco.saveable.show-reco(type='checkbox', name='show-reco', checked='')
        label(for='ctl-show-reco')
          b (r)
          | Show Reco
      button.reco-go-button Go!
      .A-reco-pad
      .A-reco-text
  // portlet-content 
// portlet 
