+portlet('tridview-port','3D Display')(style='height: inherit;')
    //- #triD-view.pad.A-TriDView
    #triD-view.pad.A-ThreeTriD
    #triD-controls
      .trid-zoom-slider(title='Zoom in/out', style='width: 50px; display: inline-block;')
      span.trid-ctl.trid-zoom-in(title='Zoom in') Zoom In
      span.trid-ctl.trid-zoom-out(title='Zoom out') Zoom Out
      span.trid-ctl.trid-pan-left(title='Pan left') Pan Left
      span.trid-ctl.trid-pan-right(title='Pan right') Pan Right
      span.trid-ctl.trid-pan-up(title='Pan up') Pan Up
      span.trid-ctl.trid-pan-down(title='Pan down') Pan Down
      span.trid-ctl.trid-pan-upstream(title='Pan upstream') Pan Upstream
      span.trid-ctl.trid-pan-downstream(title='Pan downstream') Pan Downstream
      input.trid-ctl.trid-autorotate#trid-check1(title='Auto-rotate', type='checkbox')
      label(for='trid-check1') AutoRotate
      span.trid-ctl.trid-reset(title='Reset view') Reset
      span.trid-ctl.trid-create-animation(title='Create animation (can take a long time)') Animate
      span.trid-ctl-mouse-set
        input.trid-ctl.trid-ctl-mouse-rotate#trid-radio1(type='radio', name='trid-radio', value='rotate', checked='')
        label(for='trid-radio1') Mouse Rotate
        input.trid-ctl.trid-ctl-mouse-pan#trid-radio2(type='radio', name='trid-radio', value='pan')
        label(for='trid-radio2') Mouse Pan
      span.trid-ctl-view-set
        input.trid-ctl.trid-ctl-view-3D#trid-radio-view1(type='radio', name='trid-radio-view', value='3D', checked='')
        label(for='trid-radio-view1' title="3d Projection") 3D
        input.trid-ctl.trid-ctl-view-xz#trid-radio-view2(type='radio', name='trid-radio-view', value='XZ')
        label(for='trid-radio-view2' title="Isomorphic XZ projection") XZ
        input.trid-ctl.trid-ctl-view-yz#trid-radio-view3(type='radio', name='trid-radio-view', value='YZ')
        label(for='trid-radio-view3' title="Isomorphic YZ projection") YZ
        input.trid-ctl.trid-ctl-view-xy#trid-radio-view4(type='radio', name='trid-radio-view', value='XY')
        label(for='trid-radio-view4' title="Isomorphic XY projection") XY
      .trid-projection-scale(title='Change projection', style='width: 50px; display: inline-block;')
      div.mouseover-text
      //- input#ctl-show-trid-hits.show-trid-hits(type='checkbox', name='show-trid-hits')
      //- label(for='ctl-show-trid-hits') Show 3D hits
