+portlet('wireviewgl-port-0',"GL Plane 0")
    .pad.A-WireViewGL(style='width:100%; height:330px', data-options='{"plane":0}')

+portlet('wireviewgl-port-1',"GL Plane 1")
    .pad.A-WireViewGL(style='width:100%; height:330px', data-options='{"plane":1}')

+portlet('wireviewgl-port-2',"GL Plane 2")
    .pad.A-WireViewGL(style='width:100%; height:330px', data-options='{"plane":2}')
