+portlet('zoomcontrol-port',"Zoom Control")
    .A-ZoomControl
    span.ZoomControl-Info
    span.ZoomControl-Controls.align-right
      button.zoom-auto(type='button') Auto
      button.zoom-full(type='button') Full
