+portlet('zoomcontrol-port',"Zoom Control")
    .A-ZoomControl
    span.ZoomControl-Info
    span.ZoomControl-Controls.align-right
      button.zoom-auto(type='button') Auto
      button.zoom-full(type='button') Full
    div#time-offset-slider
    br
    label
      input#time-offset-text(type='text', value='0', size='4')
      | T0 Offset
